<footer id="footer">
	<p>&copy; {{ site.title }}. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>. Jekyll Template: <a href="http://saiashirwad.com">Sai Ashirwad Informatia</a></p>
	</footer>