<header id="header">
	<span class="avatar"><img src="{{ site.baseurl }}/bower_components/visualize/images/avatar.jpg" alt="" /></span>
	<h1>This is <strong>Visualize</strong>, a responsive site template designed by <a href="http://templated.co">TEMPLATED</a><br />
	and released for free under the Creative Commons License.</h1>
	<ul class="icons">
		{% if site.social_links.twitter_username and site.social_links.twitter_username!= "TWITTER_URL" %}
			<li><a href="{{ site.social_links.twitter_username }}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
		 {% endif %}
		{% if site.social_links.facebook_username and site.social_links.facebook_username!= "FACEBOOK_URL" %}
			<li><a href="{{ site.social_links.facebook_username }}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
		{% endif %}
		{% if site.social_links.instagram_username and site.social_links.instagram_username!= "INSTAGRAM_URL" %}
			<li><a href="{{ site.social_links.instagram_username }}" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
		{% endif %}
		{% if site.social_links.linkedin_username and site.social_links.linkedin_username!= "LINKEDIN_URL" %}
			<li><a href="{{ site.social_links.linkedin_username }}" class="icon style2 fa-500px"><span class="label">LinkedIn</span></a></li>
		{% endif %}
		{% if site.social_links.email_id and site.social_links.email_id!= "EMAIL_ID" %}
			<li><a href="{{ site.social_links.email_id }}" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
		{% endif %}
	</ul>
</header>