<!-- Main -->
<section id="main">

	<!-- Thumbnails -->
		<section class="thumbnails">
			{% for image in site.posts %}
			 {% capture mod %}{{ forloop.index0 | modulo:3 }}{% endcapture %}

				{% if mod == '0' %}
				  <div>
				{% endif %}
					<a href="{{site.baseurl}}/{{image.full_image}}">
					<img src="{{site.baseurl}}/{{image.thumbs}}" alt="" />
					<h3>{{image.title}}</h3>
					</a>
				{% if mod == '2' %}
				    </div>
				{% endif %}
			
			{% endfor %}
		</section>

</section>