<!-- Scripts -->
	<script src="{{ site.baseurl }}/bower_components/visualize/assets/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/bower_components/visualize/assets/js/jquery.poptrox.min.js"></script>
	<script src="{{ site.baseurl }}/bower_components/visualize/assets/js/skel.min.js"></script>
	<script src="{{ site.baseurl }}/bower_components/visualize/assets/js/main.js"></script>